asgiref
astroid
blinker
certifi
charset-normalizer
click
colorama
dill
django-cors-headers
djangorestframework
idna
isort
itsdangerous
Jinja2
lxml
MarkupSafe
mccabe
mysqlclient
numpy
pandas
platformdirs
pylint
PyMySQL
python-dateutil
pytz
requests
six
sqlparse
tomlkit
typing_extensions
tzdata
urllib3
Werkzeug
